@import 'reset/import.scss';
@import 'fonts/fonts.scss';
@import url('https://fonts.googleapis.com/css?family=Sarabun');


body {
    font-family: "Sarabun", sans-serif;
   
}
header div {
    display: flex;
    justify-content: space-between;
    background: black;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px 50px;
}
.header {
    margin: 130px 0;
}
.material-icons {
    color: white;
    margin: auto 0;
}
nav {
    margin: auto 0;
    display: inline-flex;

    & a, i {
    margin: auto 0;
    }
}
//Homepage
.homepage-fade-in {
    animation: opac 2s;
}
.homepage {
    background:darkslategray;
    &Content {
        text-align: center;
    }
}
.homepageContent {
    & .container button {
        padding: .3rem 1.5rem;
        text-transform: uppercase;
    }
        
}
#homePageIcon {
    width: 150px;
    height: 150px;  
}
#title {
    color: white;
    margin: 15px 0 25px 0;
    text-align: center;
    font-size: 5em;
    @media(min-width: 700px) {
        font-size: 7em;
    }
}
#getStarted
{
    text-align: center;

}


.navLogin {
    cursor: pointer;
}
.formMessage {
    margin-top: 15px;
}
.rotate {
    animation: rotateKeyFrames .4s;
}
.rotate2 {
    animation: rotateKeyFrames2 .4s;
}
@keyframes rotateKeyFrames {
    from {
     transform: rotate(0deg);
    }
   
    to {
     transform: rotate(360deg);
    }
}
   @keyframes rotateKeyFrames2 {
    from {
     transform: rotate(0deg);
    }
   
    to {
     transform: rotate(360deg);
    }
}
.divider {
    border: 1px solid #fff;
    height: 25px;
    margin: 0 15px;
}
a { 
    text-decoration: none;
    color: #fff;
}
.form-group input {
    margin: 0px 0;
}
.nowPlaying {
    position: fixed;
    background-color: #343a40;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 100px;
    & .container {
        display: flex;
    }
    &Container {
        position: absolute;
        left: 0px;
        bottom: 30px;
        padding: 20px;
        width: 160px;
        height: 185px;
        background-color: #353A3F;
        border-radius: 0 7.5px 0 0;
    }
    &Name {
        color: #fff;
    }
    &Name img {
        margin-bottom: 10px;
    }
    &Name h3,
    &Name p {
        margin-left: 5px;
    }
}
#progress {
    width: 80%;
    margin: 0 auto;

}
#bar {
    width: 100%;
    margin: 50px 0;
    height: 30px;
    background-color: green;
    border-radius: 15px;

}
.icon {
    // margin-left: 750px;
    // margin-top: 50px;
    // width: 150px;
    height: 150px;
    text-align: center
}
.aggregate{
    color: #fff; 
    width: 40%;
    display: inline-block;
    margin-top: 50px;
}

.list{
    color: #fff;
    width: 25%;
}
.remove-btn{
    margin-right: 0.5rem;
}
.fade-enter{
    opacity: 0.01;
}
.fade-exit{
    opacity: 1;
}  
.fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}
.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.submitButton{
    width: 150% !important;
}

.form-group label{
    margin-top: 30px;
    font-size: 30px;
}