@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'reset/import.scss';
@import 'fonts/fonts.scss';


body {
    font-family: 'roboto',serif;    
    background-color: darkslategrey;
    color: #ffffff;
}
header {
    display: flex;
    justify-content: space-between;
    background: black;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px 50px;
}
.header {
    margin: 130px 0;
}
nav {
    margin: auto 0;
    display: inline-flex;

    & a, i {
    margin: auto 0;
    }
}
.rotate {
    animation: rotateKeyFrames .4s;
}
.rotate2 {
    animation: rotateKeyFrames2 .4s;
}
@keyframes rotateKeyFrames {
    from {
     transform: rotate(0deg);
    }
   
    to {
     transform: rotate(360deg);
    }
   }
   @keyframes rotateKeyFrames2 {
    from {
     transform: rotate(0deg);
    }
   
    to {
     transform: rotate(360deg);
    }
   }
// .rotate.selected{
//     -moz-transform:rotate(360deg);
//     -webkit-transform:rotate(360deg);
//     transform:rotate(360deg);
// }

.divider {
    border: 1px solid #fff;
    height: 25px;
    margin: 0 15px;
}
a { 
    text-decoration: none;
    color: #fff;
}
#progress {
    width: 60%;
    margin: 0 auto;
    background-color: grey;
}

#bar {
    width: 100%;
    margin: 50px 0;
    height: 30px;
    background-color: green;

}
.icon {
    width: 50px;
    height: 50px;
}
.aggregate{
    color: #fff; 
    width: 40%;
    display: inline-block;
    margin-top: 50px;
}
.list{
    color: #fff;
    width: 25%;
}


.remove-btn{
    margin-right: 0.5rem;
}

.fade-enter{
    opacity: 0.01;
}

.fade-exit{
    opacity: 1;
}  

.fade-exit-active{
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}
.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
}